@font-face {
    font-family: 'Baron Neue';
    src: url('../fonts/baron-neue-700-normal.woff2') format('woff2'),
    url('../fonts/baron-neue-700-normal.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
